# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.MidtermBlockout.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alessia\Desktop\LevelDesignStudio_2021\Level-Design\MidtermBlockout\.idea\.idea.MidtermBlockout\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
